{% extends 'base.html' %}
{% block content %}
    <div class="flex h-dvh items-center justify-center">
        <div class="flex max-w-[900px] flex-col gap-[30px] rounded-[20px] bg-white p-[40px]">
            <div class="flex flex-col gap-[5px]">
                <h1 class="text-[24px] font-bold">Thank you for taking part in our research!</h1>
                <hr />
            </div>
            <p class="text-[16px]">
                Your answers will greatly help us to understand the interpretation of
                process model complexity by domain users. We value your input and aim to
                use the survey results to improve clinical decision support and health
                information systems. 😊
            </p>
            <ul class="list-inside list-disc text-[16px] marker:text-[#E100FF]">
                <li>
                    Email:
                    <a href="mailto:ireddy@itmo.ru"
                       target="_blank"
                       class="text-blue-500 transition hover:text-blue-700 active:text-orange-500">ireddy@itmo.ru</a>,
                    <a href="mailto:kovalchuk@itmo.ru"
                       target="_blank"
                       class="text-blue-500 transition hover:text-blue-700 active:text-orange-500">kovalchuk@itmo.ru</a>
                </li>
                <li>
                    Telegram:
                    <a href="https://t.me/ashishireddy"
                       target="_blank"
                       class="text-blue-500 transition hover:text-blue-700 active:text-orange-500">@ashishireddy</a>,
                    <a href="https://t.me/iterater"
                       target="_blank"
                       class="text-blue-500 transition hover:text-blue-700 active:text-orange-500">@iterater</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
