{% extends 'base.html' %}
{% block content %}
  <div class="flex h-dvh items-center justify-center">
    <div class="mx-auto my-[40px] flex w-fit gap-[20px]">
      <div role="control-panel"
           class="flex flex-col gap-[30px] rounded-[20px] bg-white p-[20px]">
        <div role="about" class="flex flex-col gap-[5px]">
          <p class="text-[18px] font-bold">2. Hospital billing system</p>
          <hr />
        </div>
        <div role="about-text"
             class="flex max-w-[299px] flex-col gap-[5px] text-[14px]">
          <p>
            This is a dataset that describes financial processes in a hospital emergency department (e.g., billing, liability waivers, etc.).
          </p>
          <p>
            The models created from this data are designed to describe the pattern of financial events that occur in the emergency department without going into the details of individual diagnoses.
          </p>
        </div>
        <div role="control-panel" class="flex flex-col gap-[5px]">
          <p class="text-[18px] font-bold">Control panel</p>
          <hr />
        </div>
        <div role="controls-description"
             class="flex flex-col gap-[5px] text-[14px]">
          <p>Use sliders to select process models:</p>
          <p>1. Step complexity: complexity of the step.</p>
          <p>2. Process step: current step of the process.</p>
        </div>
        <div role="sliderC" class="flex flex-col gap-[10px]">
          <p class="text-[16px]">Step complexity:</p>
          <input type="range"
                 class="cursor-pointer appearance-none rounded-lg bg-slate-200"
                 min="1"
                 max="4"
                 value="1"
                 id="complexitySlider" />
        </div>
        <div role="sliderP" class="flex flex-col gap-[10px]">
          <p class="text-[16px]">Process step:</p>
          <input type="range"
                 class="cursor-pointer appearance-none rounded-lg bg-slate-200"
                 min="1"
                 max="4"
                 value="1"
                 name=""
                 id="stepSlider" />
        </div>
      </div>
      <div role="image-panel"
           class="flex flex-col gap-[30px] rounded-[20px] bg-white p-[20px]">
        <div class="flex flex-col gap-[5px]">
          <div class="flex gap-[10px] text-[18px]">
            <div class="flex gap-[5px]">
              <p class="font-bold">Step:</p>
              <p id="stepName"></p>
            </div>
            <div class="flex gap-[5px]">
              <p class="font-bold">Complexity:</p>
              <p id="complexityLevel"></p>
            </div>
          </div>
          <hr />
        </div>
        <img class="h-[682px] w-[900px] object-contain"
             id="processImage"
             src="/static/images/model-1-1.png"
             alt="" />
      </div>
      <div role="best-model-selection" class="rounded-[20px] bg-white p-[20px]">
        <form action="/hospital_billing_system_results"
              hx-post="{{ url_for("hospital_billing_system_results") }}"
              hx-swap="transition:true"
              method="post"
              class="flex h-full flex-col justify-between">
          <div class="flex flex-col gap-[30px]">
            <div role="select-the-best-model" class="flex flex-col gap-[30px]">
              <div class="flex flex-col gap-[5px]">
                <p class="text-[18px] font-bold">Select the best model</p>
                <hr />
              </div>
              <div class="flex flex-col gap-[20px]">
                <select class="rounded-[20px] border px-[10px] py-[5px] text-[16px] outline-none focus:ring-1 focus:ring-violet-400"
                        name="best-step"
                        id="best-step">
                  <option value="1">Step 1</option>
                  <option value="2">Step 2</option>
                  <option value="3">Step 3</option>
                  <option value="4">Step 4</option>
                </select>
                <select class="rounded-[20px] border px-[10px] py-[5px] text-[16px] outline-none focus:ring-1 focus:ring-violet-400"
                        name="best-complexity"
                        id="best-complexity">
                  <option value="1">Complexity 1</option>
                  <option value="2">Complexity 2</option>
                  <option value="3">Complexity 3</option>
                  <option value="4">Complexity 4</option>
                </select>
              </div>
            </div>
            <div role="why-it-it-the-best-model" class="flex flex-col gap-[20px]">
              <div class="flex flex-col gap-[5px]">
                <p class="text-[18px] font-bold">Why is it the best model?</p>
                <hr />
              </div>
              <div class="flex justify-between">
                <p class="text-[16px]">Param A</p>
                <input type="checkbox" class="w-fit" name="param_a" id="" />
              </div>
              <div class="flex justify-between">
                <p class="text-[16px]">Param B</p>
                <input type="checkbox" class="w-fit" name="param_b" id="" />
              </div>
              <div class="flex justify-between">
                <p class="text-[16px]">Param C</p>
                <input type="checkbox" class="w-fit" name="param_c" id="" />
              </div>
              <div class="flex justify-between">
                <p class="text-[16px]">Param D</p>
                <input type="checkbox" class="w-fit" name="param_d" id="" />
              </div>
              <div class="flex justify-between">
                <p class="text-[16px]">Param E</p>
                <input type="checkbox" class="w-fit" name="param_e" id="" />
              </div>
            </div>
          </div>
          <button type="submit" class="button">Confirm</button>
        </form>
      </div>
    </div>
    <script src="/static/select_image_hospital_billing_system.js"></script>
  </div>
{% endblock %}
