{% extends 'base.html' %}
{% block content %}
  <div class="flex items-center justify-center m-[20px]">
    <div class="flex w-fit gap-[20px]">
      <div role="control-panel"
           class="flex flex-col gap-[30px] rounded-[20px] bg-white p-[20px]">
        <div role="about" class="flex flex-col gap-[5px]">
          <p class="text-[18px] font-bold">4. Sepsis Treatment Pipeline</p>
          <hr />
        </div>
        <div role="about-text"
             class="flex max-w-[299px] flex-col gap-[5px] text-[14px]">
          <p>
            This process model describes events performed in a hospital to treat Sepsis (a life-threatening
            condition where the body reacts unusually to an infection).
          </p>
          <p>
            It happens when a persons immune
            system overreacts to an infection and starts to damage the body's own tissues and organs.
          </p>
        </div>
        <div role="control-panel" class="flex flex-col gap-[5px]">
          <p class="text-[18px] font-bold">Control panel</p>
          <hr />
        </div>
        <div role="controls-description"
             class="flex max-w-[299px] flex-col gap-[5px] text-[14px]">
          <p>Use a panel below to select process models:</p>
          <p>
            1. Path Rate: controls the amount of pathways
            <br>
            connecting relative events.
          </p>
          <p>2. Event Rate: controls the amount of events shown.</p>
        </div>
        <div id="slider"
             class="w-[290px] h-[290px] border relative rounded-[20px] bg-gray-50">
          <div id="handle"
               class="w-[26px] h-[26px] cursor-pointer rounded-full absolute bg-blue-600 left-[calc(50%-13px)] bottom-[calc(50%-13px)] z-10">
          </div>
          <div class="absolute left-[50%] bottom-0 translate-x-[-50%] text-[14px] text-gray-400">Event Rate</div>
          <div class="absolute top-[50%] left-[-18px] translate-y-[-50%] -rotate-90 text-[14px] text-gray-400">Path Rate</div>
        </div>
      </div>
      <div role="image-panel"
           class="flex flex-col gap-[30px] rounded-[20px] bg-white p-[20px]">
        <div class="flex flex-col gap-[5px]">
          <div class="flex gap-[10px] text-[18px]">
            <div class="flex gap-[5px]">
              <p class="font-bold">Event Rate:</p>
              <p id="arText"></p>
            </div>
            <div class="flex gap-[5px]">
              <p class="font-bold">Path Rate:</p>
              <p id="prText"></p>
            </div>
          </div>
          <hr />
        </div>
        <img class="h-[682px] w-[900px] object-contain"
             id="processImage"
             src=""
             alt="" />
      </div>
      <div role="best-model-selection" class="rounded-[20px] bg-white p-[20px]">
        <form hx-post="{{ url_for("sepsis_results") }}"
              hx-swap="transition:true"
              class="flex h-full flex-col justify-between">
          <div class="flex flex-col gap-[30px]">
            <div role="why-it-it-the-best-model" class="flex flex-col gap-[20px]">
              <div class="flex flex-col gap-[5px]">
                <p class="text-[18px] font-bold">Why is it the best model?</p>
                <hr />
              </div>
              <div class="flex justify-between items-center">
                <p class="text-[14px]">
                  Understandability,
                  <br>
                  readability
                </p>
                <div role="checkbox" class="inline-flex items-center">
                  <label class="flex items-center cursor-pointer relative">
                    <input type="checkbox"
                           name="understandability"
                           value="TRUE"
                           class="peer checkbox" />
                    <input type="hidden" name="understandability" value="FALSE" />
                    <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="checkbox-image"
                           viewBox="0 0 20 20"
                           fill="currentColor"
                           stroke="currentColor"
                           stroke-width="1">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                        </path>
                      </svg>
                    </span>
                  </label>
                </div>
              </div>
              <div class="flex justify-between items-center">
                <p class="text-[14px]">
                  Correctness,
                  <br>
                  complete description
                </p>
                <div role="checkbox" class="inline-flex items-center">
                  <label class="flex items-center cursor-pointer relative">
                    <input type="checkbox" name="correctness" value="TRUE" class="peer checkbox" />
                    <input type="hidden" name="correctness" value="FALSE" />
                    <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="checkbox-image"
                           viewBox="0 0 20 20"
                           fill="currentColor"
                           stroke="currentColor"
                           stroke-width="1">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                        </path>
                      </svg>
                    </span>
                  </label>
                </div>
              </div>
              <div class="flex justify-between items-center">
                <p class="text-[14px]">
                  Usefulness,
                  <br>
                  insightfulness
                </p>
                <div role="checkbox" class="inline-flex items-center">
                  <label class="flex items-center cursor-pointer relative">
                    <input type="checkbox" name="usefulness" value="TRUE" class="peer checkbox" />
                    <input type="hidden" name="usefulness" value="FALSE" />
                    <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="checkbox-image"
                           viewBox="0 0 20 20"
                           fill="currentColor"
                           stroke="currentColor"
                           stroke-width="1">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                        </path>
                      </svg>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" name="user_id" value="{{ user_id }}">
          <input type="hidden" name="coordinates" id="coordinatesInput" value="">
          <input type="hidden" name="event_rate" id="event_rate" value="">
          <input type="hidden" name="path_rate" id="path_rate" value="">
          <button type="submit" class="button">Confirm</button>
        </form>
      </div>
    </div>
  </div>
  <script src="/static/2d_slider_sepsis.js"></script>
{% endblock %}
