{% extends 'base.html' %}
{% block content %}
  <div class="flex h-dvh items-center justify-center">
    <div class="mx-auto my-[40px] flex w-fit gap-[20px]">
      <div role="control-panel"
           class="flex flex-col gap-[30px] rounded-[20px] bg-white p-[20px]">
        <div role="about" class="flex flex-col gap-[5px]">
          <p class="text-[18px] font-bold">3. Remote patient monitoring</p>
          <hr />
        </div>
        <div role="about-text"
             class="flex max-w-[299px] flex-col gap-[5px] text-[14px]">
          <p>
            This dataset describes the process that occurs during remote blood
            pressure monitoring of patients at home (e.g., doctor consultation,
            medication administration, etc.).
          </p>
          <p>
            The model was formed based on data obtained during remote monitoring
            of a group of patients with arterial hypertension.
          </p>
          <p>
            As part of this process, home blood pressure measurements are
            transmitted to the health care provider, then to the operator, and
            finally to the attending physician.
          </p>
          <p>
            Based on the data obtained, the patient’s condition is assessed and
            therapeutic decisions are made.
          </p>
        </div>
        <div role="control-panel" class="flex flex-col gap-[5px]">
          <p class="text-[18px] font-bold">Control panel</p>
          <hr />
        </div>
        <div role="controls-description"
             class="flex flex-col gap-[5px] text-[14px]">
          <p>Use sliders to select process models:</p>
          <p>1. Step complexity: complexity of the step.</p>
          <p>2. Process step: current step of the process.</p>
        </div>
        <div role="sliderC" class="flex flex-col gap-[15px]">
          <p class="text-[16px]">Step complexity:</p>
          <input type="range"
                 class="slider"
                 min="1"
                 max="4"
                 value="1"
                 id="complexitySlider" />
        </div>
        <div role="sliderP" class="flex flex-col gap-[15px]">
          <p class="text-[16px]">Process step:</p>
          <input type="range"
                 class="slider"
                 min="1"
                 max="4"
                 value="1"
                 name=""
                 id="stepSlider" />
        </div>
      </div>
      <div role="image-panel"
           class="flex flex-col gap-[30px] rounded-[20px] bg-white p-[20px]">
        <div class="flex flex-col gap-[5px]">
          <div class="flex gap-[10px] text-[18px]">
            <div class="flex gap-[5px]">
              <p class="font-bold">Step:</p>
              <p id="stepName"></p>
            </div>
            <div class="flex gap-[5px]">
              <p class="font-bold">Complexity:</p>
              <p id="complexityLevel"></p>
            </div>
          </div>
          <hr />
        </div>
        <img class="h-[682px] w-[900px] object-contain"
             id="processImage"
             src="/static/images/models/model-1-1.png"
             alt="" />
      </div>
      <div role="best-model-selection" class="rounded-[20px] bg-white p-[20px]">
        <form action="/remote_patient_monitoring_results"
              hx-post="{{ url_for("remote_patient_monitoring_results") }}"
              hx-swap="transition:true"
              method="post"
              class="flex h-full flex-col justify-between">
          <div class="flex flex-col gap-[30px]">
            <div role="select-the-best-model" class="flex flex-col gap-[30px]">
              <div class="flex flex-col gap-[5px]">
                <p class="text-[18px] font-bold">Select the best model</p>
                <hr />
              </div>
              <div class="flex flex-col gap-[20px]">
                <select class="rounded-[20px] border px-[10px] py-[5px] text-[16px] outline-none focus:ring-1 focus:ring-violet-400"
                        name="best-step"
                        id="best-step">
                  <option value="1">Step 1</option>
                  <option value="2">Step 2</option>
                  <option value="3">Step 3</option>
                  <option value="4">Step 4</option>
                </select>
                <select class="rounded-[20px] border px-[10px] py-[5px] text-[16px] outline-none focus:ring-1 focus:ring-violet-400"
                        name="best-complexity"
                        id="best-complexity">
                  <option value="1">Complexity 1</option>
                  <option value="2">Complexity 2</option>
                  <option value="3">Complexity 3</option>
                  <option value="4">Complexity 4</option>
                </select>
              </div>
            </div>
            <div role="why-it-it-the-best-model" class="flex flex-col gap-[20px]">
              <div class="flex flex-col gap-[5px]">
                <p class="text-[18px] font-bold">Why is it the best model?</p>
                <hr />
              </div>
              <div class="flex justify-between items-center">
                <p class="text-[16px]">Param A</p>
                <div role="checkbox" class="inline-flex items-center">
                  <label class="flex items-center cursor-pointer relative">
                    <input type="checkbox" class="peer checkbox" id="" />
                    <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="checkbox-image"
                           viewBox="0 0 20 20"
                           fill="currentColor"
                           stroke="currentColor"
                           stroke-width="1">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                        </path>
                      </svg>
                    </span>
                  </label>
                </div>
              </div>
              <div class="flex justify-between items-center">
                <p class="text-[16px]">Param B</p>
                <div role="checkbox" class="inline-flex items-center">
                  <label class="flex items-center cursor-pointer relative">
                    <input type="checkbox" class="peer checkbox" id="" />
                    <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="checkbox-image"
                           viewBox="0 0 20 20"
                           fill="currentColor"
                           stroke="currentColor"
                           stroke-width="1">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                        </path>
                      </svg>
                    </span>
                  </label>
                </div>
              </div>
              <div class="flex justify-between items-center">
                <p class="text-[16px]">Param C</p>
                <div role="checkbox" class="inline-flex items-center">
                  <label class="flex items-center cursor-pointer relative">
                    <input type="checkbox" class="peer checkbox" id="" />
                    <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="checkbox-image"
                           viewBox="0 0 20 20"
                           fill="currentColor"
                           stroke="currentColor"
                           stroke-width="1">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                        </path>
                      </svg>
                    </span>
                  </label>
                </div>
              </div>
              <div class="flex justify-between items-center">
                <p class="text-[16px]">Param D</p>
                <div role="checkbox" class="inline-flex items-center">
                  <label class="flex items-center cursor-pointer relative">
                    <input type="checkbox" class="peer checkbox" id="" />
                    <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="checkbox-image"
                           viewBox="0 0 20 20"
                           fill="currentColor"
                           stroke="currentColor"
                           stroke-width="1">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                        </path>
                      </svg>
                    </span>
                  </label>
                </div>
              </div>
              <div class="flex justify-between items-center">
                <p class="text-[16px]">Param E</p>
                <div role="checkbox" class="inline-flex items-center">
                  <label class="flex items-center cursor-pointer relative">
                    <input type="checkbox" class="peer checkbox" id="" />
                    <span class="absolute text-white opacity-0 peer-checked:opacity-100 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           class="checkbox-image"
                           viewBox="0 0 20 20"
                           fill="currentColor"
                           stroke="currentColor"
                           stroke-width="1">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
                        </path>
                      </svg>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="button">Confirm</button>
        </form>
      </div>
    </div>
    <script src="/static/select_image_remote_patient_monitoring.js"></script>
  </div>
{% endblock %}
