<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styletw.css" />
    <title>Опрос</title>
  </head>
  <body class="font-roboto bg-[#F5F5F5] text-[#333333]">
    <div
      class="mx-auto my-[54px] flex w-[900px] flex-col gap-[30px] rounded-[20px] bg-white p-[40px]"
    >
      <div class="flex flex-col gap-[10px]">
        <h1 class="text-[24px] font-bold">
          Общие демографические данные об участниках опроса
        </h1>
        <hr />
      </div>

      <div class="flex flex-col gap-[10px] text-[18px]">
        <p>Возраст</p>
        <input
          class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring focus:ring-violet-300"
          type="text"
          name=""
          id=""
        />
      </div>

      <div class="flex flex-col gap-[10px] text-[18px]">
        <p>Пол</p>
        <input
          class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring focus:ring-violet-300"
          type="text"
          name=""
          id=""
        />
      </div>

      <div class="flex flex-col gap-[10px] text-[18px]">
        <p>Образование</p>
        <input
          class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring focus:ring-violet-300"
          type="text"
          name=""
          id=""
        />
      </div>

      <div class="flex flex-col gap-[10px] text-[18px]">
        <p>Специализация</p>
        <input
          class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring focus:ring-violet-300"
          type="text"
          name=""
          id=""
        />
      </div>

      <div class="flex flex-col gap-[10px] text-[18px]">
        <p>Текущее место работы</p>
        <input
          class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring focus:ring-violet-300"
          type="text"
          name=""
          id=""
        />
      </div>

      <div class="flex flex-col gap-[10px] text-[18px]">
        <p>Текущая должность</p>
        <input
          class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring focus:ring-violet-300"
          type="text"
          name=""
          id=""
        />
      </div>

      <div class="flex flex-col gap-[10px] text-[18px]">
        <p>Стаж</p>
        <input
          class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring focus:ring-violet-300"
          type="text"
          name=""
          id=""
        />
      </div>

      <div class="flex flex-col gap-[10px] text-[18px]">
        <p>Специализация</p>
        <input
          class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring focus:ring-violet-300"
          type="text"
          name=""
          id=""
        />
      </div>

      <a href="info">
        <button
          class="rounded-[20px] border bg-[#E100FF] px-[25px] py-[10px] text-[18px] text-white hover:bg-[#B400CC] focus:outline-none focus:ring-4 focus:ring-violet-300"
        >
          Продолжить
        </button>
      </a>
    </div>
  </body>
</html>
