{% extends 'base.html' %}
{% block content %}
  <div class="mx-auto my-[20px] flex w-[900px] flex-col gap-[30px] rounded-[20px] bg-white p-[40px]">
    <div class="flex flex-col gap-[5px]">
      <h1 class="text-[24px] font-bold">General demographic information about survey participants</h1>
      <hr />
    </div>
    <div>
      <p class="text-[14px] text-gray-500">
        Note: All information provided is anonymous & will not be disclosed under any circumstances.
      </p>
    </div>
    <form action="/save_form"
          hx-post="{{ url_for("save_form") }}"
          hx-swap="transition:true"
          class="flex flex-col gap-[30px]"
          method="post">
      <div class="flex flex-col gap-[10px] text-[16px]">
        <div class="flex items-center gap-[10px]">
          <p>1.</p>
          <p>Age</p>
        </div>
        <input class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring-1 focus:ring-violet-400"
               type="text"
               name="age"
               placeholder="e.g. 32"
               id="" />
      </div>
      <div class="flex flex-col gap-[10px] text-[16px]">
        <div class="flex items-center gap-[10px]">
          <p>2.</p>
          <p>Sex</p>
        </div>
        <input class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring-1 focus:ring-violet-400"
               type="text"
               name="gender"
               placeholder="e.g. male"
               id="" />
      </div>
      <div class="flex flex-col gap-[10px] text-[16px]">
        <div class="flex items-center gap-[10px]">
          <p>3.</p>
          <p>Education</p>
        </div>
        <input class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring-1 focus:ring-violet-400"
               type="text"
               name="education"
               placeholder="e.g. masters degree"
               id="" />
      </div>
      <div class="flex flex-col gap-[10px] text-[16px]">
        <div class="flex items-center gap-[10px]">
          <p>4.</p>
          <p>Specialization</p>
        </div>
        <input class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring-1 focus:ring-violet-400"
               type="text"
               name="specialization"
               placeholder="e.g. orthopedics"
               id="" />
      </div>
      <div class="flex flex-col gap-[10px] text-[16px]">
        <div class="flex items-center gap-[10px]">
          <p>5.</p>
          <p>Сurrent place of work</p>
        </div>
        <input class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring-1 focus:ring-violet-400"
               type="text"
               name="current_employer"
               placeholder="e.g. private clinic"
               id="" />
      </div>
      <div class="flex flex-col gap-[10px] text-[16px]">
        <div class="flex items-center gap-[10px]">
          <p>6.</p>
          <p>Сurrent position</p>
        </div>
        <input class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring-1 focus:ring-violet-400"
               type="text"
               name="current_position"
               placeholder="e.g. surgeon"
               id="" />
      </div>
      <div class="flex flex-col gap-[10px] text-[16px]">
        <div class="flex items-center gap-[10px]">
          <p>7.</p>
          <p>Total work experience</p>
        </div>
        <input class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring-1 focus:ring-violet-400"
               type="text"
               name="experience"
               placeholder="e.g. 14 years"
               id="" />
      </div>
      <div class="flex flex-col gap-[10px] text-[16px]">
        <div class="flex items-center gap-[10px]">
          <p>8.</p>
          <p>Email</p>
        </div>
        <input class="rounded-[20px] border border-[#D9D9D9] px-[15px] py-[5px] focus:outline-none focus:ring-1 focus:ring-violet-400"
               type="email"
               name="email"
               placeholder="e.g. test@gmail.com"
               id="" />
      </div>
      <input class="button cursor-pointer" type="submit" value="Continue" />
    </form>
  </div>
{% endblock %}
