{% extends 'base.html' %}
{% block content %}
  <div hx-target="this">
    <div class="flex h-dvh items-center justify-center">
      <div class="max-w-[900px] rounded-[20px] border border-none bg-white p-[40px] max-sm:m-[20px]">
        <div class="flex flex-col gap-[30px] max-sm:hidden">
          <div class="flex flex-col gap-[5px]">
            <h1 class="text-[24px] font-bold">Welcome! 😊</h1>
            <hr>
          </div>
          <div class="flex flex-col gap-[10px] text-[16px]">
            <p>
              We invite domain specialists to take part in our
              survey. We aim to:
            </p>
            <ol class="list-decimal list-inside flex flex-col gap-[10px] marker:font-bold">
              <li>
                Understand the human point of view of process models (i.e. how do people with varying
                backgrounds perceive & interpret the model & its information).
              </li>
              <li>
                To study & analyze the ideal metrics to measure the interpretability of process model (i.e. via
                levels of model complexity & understandability).
              </li>
            </ol>
            <p>
              Your contributions are greatly appreciated and will help us make the practice of medicine more
              efficient and accurate.
            </p>
          </div>
          <a href="form" hx-get="{{ url_for("form") }}" hx-swap="transition:true" class="w-fit">
            <button class="button">Start the survey</button>
          </a>
        </div>
        <div class="max-sm:block hidden">
          <p>This survey does not support mobile devices. Please, use a desktop version.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
