{% extends 'base.html' %}
{% block content %}
  <div hx-target="this">
    <div class="flex h-dvh items-center justify-center">
      <div class="mx-auto max-w-[900px] rounded-[20px] border border-none bg-white p-[40px]">
        <div class="flex flex-col gap-[30px]">
          <div class="flex flex-col gap-[5px]">
            <h1 class="text-[24px] font-bold">Welcome! 😊</h1>
            <hr>
          </div>
          <div class="flex flex-col gap-[10px] text-[16px]">
            <p>
              We invite medical and healthcare professionals to take part in our
              survey. Our goals are:
            </p>
            <ol class="list-decimal list-inside flex flex-col gap-[10px] marker:font-bold">
              <li>
                To understand the human expert's point of view of the process
                models (i.e. how does a domain expert interpret the model & its information).
              </li>
              <li>
                To identify & implement the most ideal metrics to
                measure the interpretability of process models (i.e. complexity &
                understandability of models) from the technical point of view & compare it to the
                expert human point of view.
              </li>
            </ol>
            <p>
              Your contributions will help us make the practice of medicine more
              efficient and accurate.
            </p>
          </div>
          <a href="form" hx-get="{{ url_for("form") }}" hx-swap="transition:true">
            <button class="button">Start the survey</button>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
